body {
   color: whitesmoke;
   font-family: "Jetbrains Mono";
   padding: 2vh;
   background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.window {
    background-color: rgba(0, 0, 0, 0.7);
    height: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
}

li {
    margin-left: -1vw;
    list-style-type:none;
    font-size: 1em;
}

input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    width: 99%;
    font-family: "Jetbrains Mono";

}
